
@import '~antd/dist/antd.css';
@import '~easymde/dist/easymde.min.css';

main h2,
main h2.ant-typography {
    background-color: rgb(15, 0, 99);
    color: white;
    padding: 3px 8px;
}

main h3:not(.ant-skeleton-title) {
    border-bottom: 1px solid rgb(15, 0, 99);
    padding: 0 4px;
}

/* 標準のテーブルを少し見やすくする */
.markdown-content tr,
.markdown-content td,
.markdown-content th,
.markdown-content table {
    border: 1px solid #d0d0d0;
}
.markdown-content td,
.markdown-content th {
    padding: .3em 1em;
}
.markdown-content th {
    background-color: #e5e5e5;
}
.markdown-content table {
    margin: 1em .3em;
}

.markdown-content img {
    max-width: 100%;
}

.ant-timeline-item-tail {
    border-left: 2px solid #d8d8d8;
}

.ant-timeline {
    margin-top: 15px;
}
.ant-timeline-item {
    padding-bottom: 5px;
}
.ant-timeline-item-head {
    background-color: #f0f2f5;
}
.ant-table.ant-table-small {
    font-size: 12px;
}
.ant-table-cell-fix-left {
    background-color: #fafafa;
    font-weight: 500;
}
.ant-menu-item .svg-inline--fa,
.ant-menu-submenu-title .svg-inline--fa {
    width: 14px;
    margin-right: 10px;
    font-size: 14px;
}

.duel-detail-table .ant-table-cell {
    padding: 0 !important;
}
.duel-detail-table .ant-table-cell:first-child {
    padding: 3px 8px !important;
}

.ant-descriptions-bordered .ant-descriptions-item-label {
    background-color: #dcdcdc;
}
.ant-descriptions-bordered .ant-descriptions-view {
    border: 1px solid #dcdcdc;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
    ul {
        padding-inline-start: 20px;
    }
    p {
        margin-bottom: 0.5em;
    }
    .ant-btn {
        font-size: 12px;
    }

    /* 対戦詳細テーブル */
    .duel-detail-table .ant-table-thead {
        display: none;
    }
    .duel-detail-table .ant-table.ant-table-bordered > .ant-table-container {
        border: none;
    }
    .duel-detail-table .ant-table-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .duel-detail-table .ant-table-cell {
        width: 70px;
        height: 60px;
        border-left: 1px solid #f0f0f0;
        margin: 2px;
    }
    .duel-detail-table .ant-table-cell:first-child {
        display: block;
        padding: 0 !important;
        width: 100%;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }
    .duel-detail-table .ant-table-cell div::before {
        content: attr(data-label);
        display: block;
        background-color: #fafafa;
        margin: 0;
        padding: 0;
    }
}
