
.card {
    position: relative;
}

.actions {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2em 1em;
}

.card:hover .actions {
    display: block;
}

.card-reverse {
    margin: -16px auto 0 auto;
    display: block;
}

.card-dummy-space {
    margin: -16px auto 0 auto;
    display: block;
    width: 100%;
    height: 32px;
}

.card-img {
    border-radius: 4.75% / 3.5%;
    max-height: 370px;
}
.card-detail {
    margin: 0 0 3em 0;
}
.card-count {
    line-height: 22px;
    height: 32px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 4px;
}

.filter-switch {
    margin: 4px;
}

@media screen and (max-width: 480px) {
    .actions {
        display: block;
    }
}
