
.title-edit {
    font-weight: 600;
    font-size: 38px;
}

/* .new-deck-button {
    background-color: #00b52f;
    border-color: #00b52f;
}

.new-deck-button:hover {
    background-color: #00e03c;
    border-color: #00e03c;
}

.new-deck-button:active {
    background-color: #00c234;
    border-color: #00c234;
}

.new-deck-button:focus {
    background-color: #12c442;
    border-color: #12c442;
} */
