
.button {
    margin: 8px;
}

.win-lose {
    color: red;
    font-size: 120%;
    font-weight: bold;
}

.duel-event {
    display: inline;
    position: relative;
    top: -4px;
}

.system-event {
    opacity: .6;
}

.before-reset-icon {
    opacity: .5;
}
.win-icon {
    color: #00a500;
    margin: 1px;
}
.lose-icon {
    color: #ff3b00;
    margin: 1px;
}
.win-text {
    color: blue;
    font-weight: bold;
}

.my-detail-row {
    background-color: #fafad2;
}

.thisweek-detail {
    font-size: 15px;
}
.thisweek-max {
    background-color: #bbbbbb;
}
.title-edit {
    font-weight: 600;
    font-size: 38px;
}
.page-menu {
    width: 200px;
}

.comment-author {
    font-size: 140%;
    color: rgba(0, 0, 255, .7);
    font-weight: bold;
    cursor: pointer;
}

.comment-author:hover {
    color: rgba(0, 0, 255, .9);
}

.my-event-only-switch {
    margin: 10px;
}
