
.content {
    margin: 0 16px;
    padding: 0 24px;
    min-height: 360px;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .content {
        margin: 0 10px;
        padding: 0;
    }
}
